@keyframes error-animation {
    0% {transform: rotate(-1deg);}
    50% {transform: rotate(2deg);}
    100% {transform: rotate(0deg);}
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae6df;
    overflow: hidden;

    #green-zone{
        width: 100%;
        height: 150px;
        background-color: #00a884;
        align-self: start;
    }
    #subcontainer{
        width: min(1400px,100%);
        height: 80%;
        margin: 30px;
        padding: 20px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f5;
        color: rgb(0, 0, 0);

        .subtitle{
            margin-bottom: 10px;
            font-weight: 600;
        }

        .label{
            width: min(1200px,100%);
            margin-bottom: 0;
        }

        .text{
            width: min(1200px,100%);
            margin: 8px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 10px;
        }
        .error{
            border: 1px solid red;
            animation: error-animation 0.4s ease-in-out;
        }
        .texterror{
            width: min(1200px,100%);
            color: red;
            text-align: right;
        }
        .mainbutton{
            border-radius: 40px;
            padding: 16px 32px;
            text-align: center;
            align-self: flex-end;
            background-color: #128c7e; /* Green */
            color: white;
            border: none;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;     
        }
            

    }
    #credits{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}