<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./cake.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Calendario de eventos</title>
</head>
<body>
    <div id="app">
        <div id="container">
            <div  v-for="(month, index) in Object.keys(calendar)" :key="index" class="month-container">
                <h5 class="month-container__title">{{month}}</h5>
                <div class="month-container__events">
                    <div v-for="event in calendar[month]" class="month-container__events__card" :class="{ 'birthday': event.type==='birthday' }">
                        <p class="number">{{event.day}}</p>
                        <p class="event">{{event.event}}</p>
                    </div>
                </div>
            </div>
            <div id="credits">Creado por: Berny Orozco</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const app=new Vue({
            el:'#app',
            data:{
                //Falta: Fabián, Andrés Rodriguez, Johan Cuberos,...
                calendar: {
                    Enero: [
                        {day: 1, event: "Inicio de año", type: 'non-important'},
                        {day: 6, event: "Cumple BRAYAN PORTELA", type: "birthday"}
                    ],
                    Febrero: [
                        {day: 3, event: "Cumple SARAHY", type: "birthday"},
                        {day: 4, event: "Cumple DIEGO IRREÑO", type: "birthday"},
                        {day: 8, event: "Mi cumpleaños", type: "birthday"},
                        {day: 18, event: "Exámenes médicos 6:30 am", type: "non-important"}
                    ],
                    Marzo: [
                        {day: 2, event: "Cumple DON JOSÉ", type: "birthday"},
                        {day: 21, event: "Exámen de la Piel 12:00m", type: "non-important"},
                        {day: 29, event: "Cumple JOHITAN", type: "birthday"}
                    ],
                    Abril: [
                        {day: 11, event: "Cumple YULI", type: "birthday"},
                        {day: 20, event: "BODA", type: 'important'}
                    ],
                    Mayo: [],
                    Junio: [
                        {day: 19, event: "Cumple MOTHERCITA", type: "birthday"},
                        {day: 20, event: "Cumple NICOL <3", type: "birthday"}
                    ],
                    Julio: [],
                    Agosto: [],
                    Septiembre: [],
                    Octubre: [
                        {day: 31, event: "Halloween", type: 'non-important'}
                    ],
                    Noviembre: [
                        {day: 1, event: "Cumple DOÑA PATRICIA", type: "birthday"},
                        {day: 11, event: "Cumple ABUELITA", type: "birthday"},
                        {day: 14, event: "Cumple ALEJA RODRIGUEZ", type: "birthday"},
                        {day: 16, event: "Cumple CARLOS ALZATE", type: "birthday"},
                        {day: 21, event: "Cumple TIA STELLA", type: "birthday"},
                        {day: 22, event: "Cumple ABUELITA MARINA", type: "birthday"}
                    ],
                    Diciembre: [
                        {day: 24, event: "Navidad", type: 'non-important'},
                        {day: 27, event: "Cumple GERMÁN", type: "birthday"},
                        {day: 31, event: "Fin de año", type: "non-important"}
                    ],
                }
            },
            methods:{}
        })
    </script>
</body>
</html>